# Ignore environment variables
.env

# Ignore Python cache and virtual environments
__pycache__/
*.pyc
Python/
main/
venv/
.DS_Store

# Local logs and editor temp files
server.log
tempCodeRunnerFile.py

# Ignore IDE settings (optional)
.vscode/
.idea/
